CustomerService/BluLogisticsService/BluLogisticsService/Web References/co.com.tcc.clientes.liquidacion/liquidacionacuerdos.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://clientes.tcc.com.co/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://clientes.tcc.com.co/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://clientes.tcc.com.co/">
      <s:element name="LiquidaDespacho">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Clave" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Despacho" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Liquidacion" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="Respuesta" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="Mensaje" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="LiquidaDespachoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Liquidacion" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="Respuesta" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="Mensaje" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="LiquidaDespacho2">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Clave" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Despacho" type="tns:Liquidacion2" />
            <s:element minOccurs="0" maxOccurs="1" name="Liquidacion" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="Respuesta" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="Mensaje" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="Liquidacion2">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="cuenta" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="idciudadorigen" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="idciudaddestino" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="valormercancia" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="recogida" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="traecd" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="recogecd" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="boomerang" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="unidades" type="tns:ArrayOfUnidad2" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfUnidad2">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="unidad2" nillable="true" type="tns:unidad2" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="unidad2">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="tipoempaque" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="unidades" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="peso" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="volumen" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="alto" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="largo" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ancho" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="LiquidaDespacho2Response">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Liquidacion" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="Respuesta" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="Mensaje" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="consultarMaestroCiudades">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Clave" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="consultarMaestroCiudadesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="consultarMaestroCiudadesResult" type="tns:ciudadesRespuesta" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ciudadesRespuesta">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="ciudadesorigen" type="tns:ArrayOfCiudad" />
          <s:element minOccurs="0" maxOccurs="1" name="ciudadesdestino" type="tns:ArrayOfCiudad" />
          <s:element minOccurs="0" maxOccurs="1" name="respuesta" type="tns:Respuesta" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfCiudad">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Ciudad" nillable="true" type="tns:Ciudad" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Ciudad">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="id" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="descripcion" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="abreviatura" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="codigodane" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Respuesta">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="codigo" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="mensaje" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="codigointerno" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="mensajeinterno" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="consultarliquidacion">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Clave" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Liquidacion" type="tns:Liquidacion" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="Liquidacion">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="tipoenvio" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="idciudadorigen" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="idciudaddestino" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="valormercancia" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="boomerang" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="cuenta" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="fecharemesa" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="idunidadestrategicanegocio" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="unidades" type="tns:ArrayOfUnidad" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfUnidad">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="unidad" nillable="true" type="tns:unidad" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="unidad">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="numerounidades" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="pesoreal" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="pesovolumen" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="alto" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="largo" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ancho" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="tipoempaque" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="consultarliquidacionResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="consultarliquidacionResult" type="tns:LiquidacionRespuesta" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="LiquidacionRespuesta">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="idliquidacion" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="moneda" type="tns:Moneda" />
          <s:element minOccurs="0" maxOccurs="1" name="total" type="tns:Total" />
          <s:element minOccurs="0" maxOccurs="1" name="conceptos" type="tns:ArrayOfConcepto" />
          <s:element minOccurs="0" maxOccurs="1" name="subtotales" type="tns:ArrayOfConceptoAgrupado" />
          <s:element minOccurs="0" maxOccurs="1" name="tipotarifa" type="tns:TipoTarifa" />
          <s:element minOccurs="0" maxOccurs="1" name="respuesta" type="tns:Respuesta" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Moneda">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="id" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="descripcion" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="abreviatura" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Total">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="valortarifa" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="totalpesofacturado" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="totalpesoreal" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="totalpesovolumen" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="totalunidades" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="totaldespacho" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="valorboomerang" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="valorserviciorecogida" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfConcepto">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Concepto" nillable="true" type="tns:Concepto" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Concepto">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="idconcepto" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="descripcion" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="valor" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfConceptoAgrupado">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="ConceptoAgrupado" nillable="true" type="tns:ConceptoAgrupado" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ConceptoAgrupado">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="idtipoconcepto" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="descripcion" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="valor" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="TipoTarifa">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="id" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="descripcion" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="abreviatura" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="HabilitarCotizacionAcuerdos">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="clave" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="usuario" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Opciones" type="tns:ArrayOfClsOpcion" />
            <s:element minOccurs="0" maxOccurs="1" name="Cuentas" type="tns:ArrayOfClsCuenta" />
            <s:element minOccurs="1" maxOccurs="1" name="Respuesta" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="Mensaje" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfClsOpcion">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="clsOpcion" nillable="true" type="tns:clsOpcion" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="clsOpcion">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="IDOpcion" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Descripcion" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Abreviatura" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="URL" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfClsCuenta">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="clsCuenta" nillable="true" type="tns:clsCuenta" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="clsCuenta">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Numero" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Nombre" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="HabilitarCotizacionAcuerdosResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="HabilitarCotizacionAcuerdosResult" type="s:boolean" />
            <s:element minOccurs="0" maxOccurs="1" name="Opciones" type="tns:ArrayOfClsOpcion" />
            <s:element minOccurs="0" maxOccurs="1" name="Cuentas" type="tns:ArrayOfClsCuenta" />
            <s:element minOccurs="1" maxOccurs="1" name="Respuesta" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="Mensaje" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="LiquidaDespachoSoapIn">
    <wsdl:part name="parameters" element="tns:LiquidaDespacho" />
  </wsdl:message>
  <wsdl:message name="LiquidaDespachoSoapOut">
    <wsdl:part name="parameters" element="tns:LiquidaDespachoResponse" />
  </wsdl:message>
  <wsdl:message name="LiquidaDespacho2SoapIn">
    <wsdl:part name="parameters" element="tns:LiquidaDespacho2" />
  </wsdl:message>
  <wsdl:message name="LiquidaDespacho2SoapOut">
    <wsdl:part name="parameters" element="tns:LiquidaDespacho2Response" />
  </wsdl:message>
  <wsdl:message name="consultarMaestroCiudadesSoapIn">
    <wsdl:part name="parameters" element="tns:consultarMaestroCiudades" />
  </wsdl:message>
  <wsdl:message name="consultarMaestroCiudadesSoapOut">
    <wsdl:part name="parameters" element="tns:consultarMaestroCiudadesResponse" />
  </wsdl:message>
  <wsdl:message name="consultarliquidacionSoapIn">
    <wsdl:part name="parameters" element="tns:consultarliquidacion" />
  </wsdl:message>
  <wsdl:message name="consultarliquidacionSoapOut">
    <wsdl:part name="parameters" element="tns:consultarliquidacionResponse" />
  </wsdl:message>
  <wsdl:message name="HabilitarCotizacionAcuerdosSoapIn">
    <wsdl:part name="parameters" element="tns:HabilitarCotizacionAcuerdos" />
  </wsdl:message>
  <wsdl:message name="HabilitarCotizacionAcuerdosSoapOut">
    <wsdl:part name="parameters" element="tns:HabilitarCotizacionAcuerdosResponse" />
  </wsdl:message>
  <wsdl:portType name="LiquidacionAcuerdosSoap">
    <wsdl:operation name="LiquidaDespacho">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Liquida un despacho de un cliente recibido como XML y devuelve la liquidación como archivo XML</wsdl:documentation>
      <wsdl:input message="tns:LiquidaDespachoSoapIn" />
      <wsdl:output message="tns:LiquidaDespachoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="LiquidaDespacho2">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Liquida un despacho de un cliente recibido como XML y devuelve la liquidación como archivo XML</wsdl:documentation>
      <wsdl:input message="tns:LiquidaDespacho2SoapIn" />
      <wsdl:output message="tns:LiquidaDespacho2SoapOut" />
    </wsdl:operation>
    <wsdl:operation name="consultarMaestroCiudades">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Provee el listado de ciudades origenes y destino para despachos en Colombia de TCC Paqueteria y Mensajeria.</wsdl:documentation>
      <wsdl:input message="tns:consultarMaestroCiudadesSoapIn" />
      <wsdl:output message="tns:consultarMaestroCiudadesSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="consultarliquidacion">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Realiza una cotización del envio considerando los despachos enviados por TCC Mensajeria o Paqueteria</wsdl:documentation>
      <wsdl:input message="tns:consultarliquidacionSoapIn" />
      <wsdl:output message="tns:consultarliquidacionSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="HabilitarCotizacionAcuerdos">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Verifica si en la página web un usuario puede acceder a la opción de liquidación de acuerdos, y en caso tal devuelve una lista de las cuentas del usuario.</wsdl:documentation>
      <wsdl:input message="tns:HabilitarCotizacionAcuerdosSoapIn" />
      <wsdl:output message="tns:HabilitarCotizacionAcuerdosSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="LiquidacionAcuerdosSoap" type="tns:LiquidacionAcuerdosSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="LiquidaDespacho">
      <soap:operation soapAction="http://clientes.tcc.com.co/LiquidaDespacho" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LiquidaDespacho2">
      <soap:operation soapAction="http://clientes.tcc.com.co/LiquidaDespacho2" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="consultarMaestroCiudades">
      <soap:operation soapAction="http://clientes.tcc.com.co/consultarMaestroCiudades" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="consultarliquidacion">
      <soap:operation soapAction="http://clientes.tcc.com.co/consultarliquidacion" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="HabilitarCotizacionAcuerdos">
      <soap:operation soapAction="http://clientes.tcc.com.co/HabilitarCotizacionAcuerdos" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="LiquidacionAcuerdosSoap12" type="tns:LiquidacionAcuerdosSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="LiquidaDespacho">
      <soap12:operation soapAction="http://clientes.tcc.com.co/LiquidaDespacho" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LiquidaDespacho2">
      <soap12:operation soapAction="http://clientes.tcc.com.co/LiquidaDespacho2" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="consultarMaestroCiudades">
      <soap12:operation soapAction="http://clientes.tcc.com.co/consultarMaestroCiudades" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="consultarliquidacion">
      <soap12:operation soapAction="http://clientes.tcc.com.co/consultarliquidacion" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="HabilitarCotizacionAcuerdos">
      <soap12:operation soapAction="http://clientes.tcc.com.co/HabilitarCotizacionAcuerdos" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="LiquidacionAcuerdos">
    <wsdl:port name="LiquidacionAcuerdosSoap" binding="tns:LiquidacionAcuerdosSoap">
      <soap:address location="http://clientes.tcc.com.co/preservicios/liquidacionacuerdos.asmx" />
    </wsdl:port>
    <wsdl:port name="LiquidacionAcuerdosSoap12" binding="tns:LiquidacionAcuerdosSoap12">
      <soap12:address location="http://clientes.tcc.com.co/preservicios/liquidacionacuerdos.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>