CustomerService/TCCService/TCCService/Web References/co.com.tcc.clientes.remesas/remesasws3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema xmlns="http://www.tcc.com.co/xsd" elementFormDefault="qualified" targetNamespace="http://www.tcc.com.co/xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:include schemaLocation="http://clientes.tcc.com.co:1080/api/clientes/remesasws?SCHEMA%2FRemesaApi%2FWSDLs%2FXMLSchema_-1155180390" />
  <xsd:complexType name="tpCentroOperacionBasico">
    <xsd:sequence>
      <xsd:element name="id" type="xsd:string" />
      <xsd:element name="descripcion" type="xsd:string" />
      <xsd:element name="abreviatura" type="xsd:string" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="tpUbicacionTCCBasico">
    <xsd:sequence>
      <xsd:element name="tipo" type="tpTipoUbicacionTccBasico" />
      <xsd:element name="id" type="xsd:string" />
      <xsd:element maxOccurs="unbounded" name="codigobarras" type="xsd:string" />
      <xsd:element name="descripcion" type="xsd:string" />
      <xsd:element name="abreviatura" type="xsd:string" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="tpTipoUbicacionTccBasico">
    <xsd:sequence>
      <xsd:element name="id" type="xsd:string" />
      <xsd:element name="descripcion" type="xsd:string" />
      <xsd:element name="abreviatura" type="xsd:string" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="tpCiudadBasico">
    <xsd:sequence>
      <xsd:element name="id" type="xsd:string" />
      <xsd:element name="descripcion" type="xsd:string" />
      <xsd:element name="abreviatura" type="xsd:string" />
      <xsd:element name="codigodane" type="xsd:string" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="tpDepartamentoBasico">
    <xsd:sequence>
      <xsd:element name="id" type="xsd:string" />
      <xsd:element name="descripcion" type="xsd:string" />
      <xsd:element name="abreviatura" type="xsd:string" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="tpBarrioBasico">
    <xsd:sequence>
      <xsd:element name="id" type="xsd:string" />
      <xsd:element name="descripcion" type="xsd:string" />
      <xsd:element name="abreviatura" type="xsd:string" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="tpTipoContactoBasico">
    <xsd:sequence>
      <xsd:element name="id" type="xsd:string" />
      <xsd:element name="descripcion" type="xsd:string" />
      <xsd:element name="abreviatura" type="xsd:string" />
      <xsd:element name="valor" type="xsd:string" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="tpPaisBasico">
    <xsd:sequence>
      <xsd:element name="id" type="xsd:string" />
      <xsd:element name="descripcion" type="xsd:string" />
      <xsd:element name="abreviatura" type="xsd:string" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="tpLocalidadBasico">
    <xsd:sequence>
      <xsd:element name="id" type="xsd:string" />
      <xsd:element name="descripcion" type="xsd:string" />
      <xsd:element name="abreviatura" type="xsd:string" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="tpMuelleBasico">
    <xsd:sequence>
      <xsd:element name="id" type="xsd:string" />
      <xsd:element name="descripcion" type="xsd:string" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="tpTipoCasosBasicos">
    <xsd:sequence>
      <xsd:element name="id" type="xsd:string" />
      <xsd:element name="descripcion" type="xsd:string" />
      <xsd:element name="abreviatura" type="xsd:string" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="tpTipoUnidadBasico">
    <xsd:sequence>
      <xsd:element name="id" type="xsd:string" />
      <xsd:element name="descripcion" type="xsd:string" />
      <xsd:element name="abreviatura" type="xsd:string" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="tpCasosBasico">
    <xsd:sequence>
      <xsd:element name="tipo" type="tpTipoCasosBasicos" />
      <xsd:element name="id" type="xsd:string" />
      <xsd:element name="descripcion" type="xsd:string" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="tpCentroDistribucionBasico">
    <xsd:sequence>
      <xsd:element name="id" type="xsd:string" />
      <xsd:element name="descripcion" type="xsd:string" />
      <xsd:element name="abreviatura" type="xsd:string" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="tpPlataformaBasico">
    <xsd:sequence>
      <xsd:element name="id" type="xsd:string" />
      <xsd:element name="descripcion" type="xsd:string" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="tpUnidadNegocioBasico">
    <xsd:sequence>
      <xsd:element name="id" type="xsd:string" />
      <xsd:element name="descripcion" type="xsd:string" />
      <xsd:element name="abreviatura" type="xsd:string" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="tpTipoEnvioBasico">
    <xsd:sequence>
      <xsd:element name="id" type="xsd:string" />
      <xsd:element name="descripcion" type="xsd:string" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="tpConceptoBasico">
    <xsd:sequence>
      <xsd:element name="id" type="xsd:string" />
      <xsd:element name="descripcion" type="xsd:string" />
      <xsd:element name="valor" type="xsd:string" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="tpUnidadBasico">
    <xsd:sequence>
      <xsd:element name="id" type="xsd:string" />
      <xsd:element name="unidades" type="xsd:string" />
      <xsd:element name="pesoreal" type="xsd:string" />
      <xsd:element name="pesovolumen" type="xsd:string" />
      <xsd:element name="alto" type="xsd:string" />
      <xsd:element name="largo" type="xsd:string" />
      <xsd:element name="ancho" type="xsd:string" />
      <xsd:element name="idsubproducto" type="xsd:string" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="tpClaseEmpaqueBasico">
    <xsd:sequence>
      <xsd:element name="id" type="xsd:string" />
      <xsd:element name="descripcion" type="xsd:string" />
      <xsd:element name="abreviatura" type="xsd:string" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="tpProcesoBasico">
    <xsd:sequence>
      <xsd:element name="id" type="xsd:string" />
      <xsd:element name="descripcion" type="xsd:string" />
      <xsd:element name="abreviatura" type="xsd:string" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="tpCanalesBasico">
    <xsd:sequence>
      <xsd:element name="ID" type="xsd:string" />
      <xsd:element name="Descripcion" type="xsd:string" />
      <xsd:element name="IDSecundario" type="xsd:string" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="tpDireccionBasico">
    <xsd:sequence>
      <xsd:element name="iddireccion" type="xsd:string" />
      <xsd:element name="direccion" type="xsd:string" />
      <xsd:element name="latitud" type="xsd:string" />
      <xsd:element name="longitud" type="xsd:string" />
      <xsd:element name="barrio" type="tpBarrioBasico" />
      <xsd:element name="ciudad" type="tpCiudadBasico" />
      <xsd:element name="departamento" type="tpDepartamentoBasico" />
      <xsd:element name="pais" type="tpPaisBasico" />
      <xsd:element name="codigopostal" type="xsd:string" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="tpTipoDocumentoBasico">
    <xsd:sequence>
      <xsd:element name="id" type="xsd:string" />
      <xsd:element name="descripcion" type="xsd:string" />
      <xsd:element name="abreviatura" type="xsd:string" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="tpIdentificacionBasico">
    <xsd:sequence>
      <xsd:element name="id" type="xsd:string" />
      <xsd:element name="descripcion" type="xsd:string" />
      <xsd:element name="abreviatura" type="xsd:string" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="tpFormaPagoBasico">
    <xsd:sequence>
      <xsd:element name="id" type="xsd:string" />
      <xsd:element name="descripcion" type="xsd:string" />
      <xsd:element name="abreviatura" type="xsd:string" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="tpEstadoBasico">
    <xsd:sequence>
      <xsd:element name="id" type="xsd:string" />
      <xsd:element name="descripcion" type="xsd:string" />
      <xsd:element name="abreviatura" type="xsd:string" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="tpTipoEmpaqueBasico">
    <xsd:sequence>
      <xsd:element name="id" type="xsd:string" />
      <xsd:element name="descripcion" type="xsd:string" />
      <xsd:element name="abreviatura" type="xsd:string" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="tpRutaBasico">
    <xsd:sequence>
      <xsd:element name="id" type="xsd:string" />
      <xsd:element name="descripcion" type="xsd:string" />
      <xsd:element name="abreviatura" type="xsd:string" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="tpSubProductoBasico">
    <xsd:sequence>
      <xsd:element name="id" type="xsd:string" />
      <xsd:element name="descripcion" type="xsd:string" />
      <xsd:element name="abreviatura" type="xsd:string" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="tpLocalizacionBasico">
    <xsd:sequence>
      <xsd:element name="id" type="xsd:string" />
      <xsd:element name="descripcion" type="xsd:string" />
      <xsd:element name="abreviatura" type="xsd:string" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="tpMonedaBasico">
    <xsd:sequence>
      <xsd:element name="id" type="xsd:string" />
      <xsd:element name="descripcion" type="xsd:string" />
      <xsd:element name="abreviatura" type="xsd:string" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="tpListaValoresBasico">
    <xsd:sequence>
      <xsd:element name="id" type="xsd:string" />
      <xsd:element name="descripcion" type="xsd:string" />
      <xsd:element name="abreviatura" type="xsd:string" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="tpGrupoBasico">
    <xsd:sequence>
      <xsd:element name="id" type="xsd:string" />
      <xsd:element name="descripcion" type="xsd:string" />
      <xsd:element name="abreviatura" type="xsd:string" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="tpTipoVehiculoBasico">
    <xsd:sequence>
      <xsd:element name="id" type="xsd:string" />
      <xsd:element name="descripcion" type="xsd:string" />
      <xsd:element name="abreviatura" type="xsd:string" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="tpConductorBasico">
    <xsd:sequence>
      <xsd:element name="id" type="xsd:string" />
      <xsd:element name="descripcion" type="xsd:string" />
      <xsd:element name="abreviatura" type="xsd:string" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="tpFormaPago">
    <xsd:sequence>
      <xsd:element name="descripcion" type="xsd:string" />
      <xsd:element name="abreviatura" type="xsd:string" />
      <xsd:element name="fechacreacion" type="xsd:string" />
      <xsd:element name="fechamodificacion" type="xsd:string" />
      <xsd:element name="significado" type="xsd:string" />
      <xsd:element name="generafactura" type="xsd:string" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="tpTipoEmpaqueLegado">
    <xsd:sequence>
      <xsd:element name="tipoempaque" type="xsd:string" />
      <xsd:element name="descripcionempaque" type="xsd:string" />
      <xsd:element name="kilosrealesconvenio" type="xsd:string" />
      <xsd:element name="kilosvolumenconvenio" type="xsd:string" />
      <xsd:element name="kilosrealesoperativo" type="xsd:string" />
      <xsd:element name="kilosvolumenoperativo" type="xsd:string" />
      <xsd:element name="cuenta" type="xsd:string" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="tpTipoDocumento">
    <xsd:sequence>
      <xsd:element name="descripcion" type="xsd:string" />
      <xsd:element name="abreviatura" type="xsd:string" />
      <xsd:element name="fechacreacion" type="xsd:string" />
      <xsd:element name="fechamodificacion" type="xsd:string" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="tpMedioPago">
    <xsd:sequence>
      <xsd:element name="descripcion" type="xsd:string" />
      <xsd:element name="abreviatura" type="xsd:string" />
      <xsd:element name="fechacreacion" type="xsd:string" />
      <xsd:element name="fechamodificacion" type="xsd:string" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="tpMedioOperacion">
    <xsd:sequence>
      <xsd:element name="descripcion" type="xsd:string" />
      <xsd:element name="abreviatura" type="xsd:string" />
      <xsd:element name="codigodane" type="xsd:string" />
      <xsd:element name="fechacreacion" type="xsd:string" />
      <xsd:element name="fechamodificacion" type="xsd:string" />
      <xsd:element name="direccion" type="xsd:string" />
      <xsd:element name="codigobarras" type="xsd:string" />
      <xsd:element name="tiposcontacto">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element maxOccurs="unbounded" name="tipocontacto" type="tpTipoContactoBasico" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="tpCuentasLegados">
    <xsd:sequence>
      <xsd:element name="idsucursalpaq" type="xsd:string" />
      <xsd:element name="cuentas" type="xsd:string" />
      <xsd:element name="nombre" type="xsd:string" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="tpClientePaqueteria">
    <xsd:sequence>
      <xsd:element name="nombre" type="xsd:string" />
      <xsd:element name="idcliente" type="xsd:string" />
      <xsd:element name="nit" type="xsd:string" />
      <xsd:element name="ciudad" type="tpCiudadBasico" />
      <xsd:element name="nombresucursal" type="xsd:string" />
      <xsd:element name="idsucursal" type="xsd:string" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="tpConsecutivo">
    <xsd:sequence>
      <xsd:element name="cuenta" type="xsd:string" />
      <xsd:element name="consecutivoinicial" type="xsd:string" />
      <xsd:element name="consecutivofinal" type="xsd:string" />
      <xsd:element name="consecutvioactual" type="xsd:string" />
      <xsd:element name="consecutivosdisponibles" type="xsd:string" />
      <xsd:element name="nombreconsecutivo" type="xsd:string" />
      <xsd:element name="aplicacion" type="xsd:string" />
      <xsd:element name="centrooperacion" type="tpCentroDistribucionBasico" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="tpObjetoNegocioBasico">
    <xsd:sequence>
      <xsd:element name="id" type="xsd:string" />
      <xsd:element name="descripcion" type="xsd:string" />
      <xsd:element name="abreviatura" type="xsd:string" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="tpConsultarEstadoObjetoNegocio">
    <xsd:sequence>
      <xsd:element name="objetonegocio" type="tpObjetoNegocioBasico" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="tpConsultarEstadoObjetoNegocioRespuesta">
    <xsd:sequence>
      <xsd:element name="objetonegocio">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="id" type="xsd:string" />
            <xsd:element name="descripcion" type="xsd:string" />
            <xsd:element name="abreviatura" type="xsd:string" />
            <xsd:element name="estados">
              <xsd:complexType>
                <xsd:sequence>
                  <xsd:element maxOccurs="unbounded" name="estado" type="tpEstadoBasico" />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="respuesta" type="tpRespuesta" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="tpTipoMercanciaBasico">
    <xsd:sequence>
      <xsd:element name="id" type="xsd:string" />
      <xsd:element name="descripcion" type="xsd:string" />
      <xsd:element name="abreviatura" type="xsd:string" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="tpEstadoEnvioBasico">
    <xsd:sequence>
      <xsd:element name="id" type="xsd:string" />
      <xsd:element name="descripcion" type="xsd:string" />
      <xsd:element name="abreviatura" type="xsd:string" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="tpVehiculoBasico">
    <xsd:sequence>
      <xsd:element name="id" type="xsd:string" />
      <xsd:element name="descripcion" type="xsd:string" />
      <xsd:element name="abreviatura" type="xsd:string" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="tpUnidadPesoBasico">
    <xsd:sequence>
      <xsd:element name="id" type="xsd:string" />
      <xsd:element name="descripcion" type="xsd:string" />
      <xsd:element name="abreviatura" type="xsd:string" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="tpUnidadMedidaBasico">
    <xsd:sequence>
      <xsd:element name="id" type="xsd:string" />
      <xsd:element name="descripcion" type="xsd:string" />
      <xsd:element name="abreviatura" type="xsd:string" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="tpZonaBasico">
    <xsd:sequence>
      <xsd:element name="id" type="xsd:string" />
      <xsd:element name="descripcion" type="xsd:string" />
      <xsd:element name="abreviatura" type="xsd:string" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="consultarformaspago" />
  <xsd:element name="consultarformaspagorespuesta">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element maxOccurs="unbounded" name="formapago" type="tpFormaPago" />
        <xsd:element name="respuesta" type="tpRespuesta" />
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="consultartiposempaqueslegado">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="numerodocumento" type="xsd:string" />
        <xsd:element name="digitoverificacion" type="xsd:string" />
        <xsd:element name="cuenta" type="xsd:string" />
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="consultartiposempaqueslegadorespuesta">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element maxOccurs="unbounded" name="tipoempaquelegado" type="tpTipoEmpaqueLegado" />
        <xsd:element name="respuesta" type="tpRespuesta" />
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="consultartiposdocumento" />
  <xsd:element name="consultartiposdocumentorespuesta">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element maxOccurs="unbounded" name="tipodocumento" type="tpTipoDocumento" />
        <xsd:element name="respuesta" type="tpRespuesta" />
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="consultarmediospago" />
  <xsd:element name="consultarmediospagorespuesta">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element maxOccurs="unbounded" name="mediopago" type="tpMedioPago" />
        <xsd:element name="respuesta" type="tpRespuesta" />
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="consultarmediosoperacion" />
  <xsd:element name="consultarmediosoperacionrespuesta">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element maxOccurs="unbounded" name="mediooperacion" type="tpMedioOperacion" />
        <xsd:element name="respuesta" type="tpRespuesta" />
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="consultarcuentaslegado">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="idcliente" type="xsd:string" />
        <xsd:element name="inidcicl" type="xsd:string" />
        <xsd:element name="inidsucu" type="xsd:string" />
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="consultarcuentaslegadorespuesta">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element maxOccurs="unbounded" name="cuentalegado" type="tpCuentasLegados" />
        <xsd:element name="respuesta" type="tpRespuesta" />
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="consultarclientespaqueterialegado">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="idcentrodistribucion" type="xsd:string" />
        <xsd:element name="nombrecliente" type="xsd:string" />
        <xsd:element name="nombresucursal" type="xsd:string" />
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="consultarclientespaqueterialegadorespuesta">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element maxOccurs="unbounded" name="cliente" type="tpClientePaqueteria" />
        <xsd:element name="respuesta" type="tpRespuesta" />
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="consultarconsecutivocuenta">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="cuentas">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element maxOccurs="unbounded" name="cuenta" type="xsd:string" />
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="consultarconsecutivocuentarespuesta">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="consecutivos">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element maxOccurs="unbounded" name="consecutivo" type="tpConsecutivo" />
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name="respuesta" type="tpRespuesta" />
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="consultarproductoporciudad">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="codigodane" type="xsd:string" />
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="consultarproductoporciudadrespuesta">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="servicioboomerang" type="xsd:string" />
        <xsd:element name="serviciofce" type="xsd:string" />
        <xsd:element name="respuesta" type="tpRespuesta" />
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="consultarestadoobjetonegociorespuesta" type="tpConsultarEstadoObjetoNegocioRespuesta" />
  <xsd:element name="consultarestadoobjetonegocio" type="tpConsultarEstadoObjetoNegocio" />
  <xsd:element name="consultarclientecrm">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="documento" type="xsd:string" />
        <xsd:element name="tipodocumento" type="xsd:string" />
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="consultarclientecrmrespuesta">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="primernombre" type="xsd:string" />
        <xsd:element name="segundonombre" type="xsd:string" />
        <xsd:element name="primerapellido" type="xsd:string" />
        <xsd:element name="segundoapellido" type="xsd:string" />
        <xsd:element name="razonsocial" type="xsd:string" />
        <xsd:element name="contacto" type="xsd:string" />
        <xsd:element name="cm_id_telefono" type="xsd:string" />
        <xsd:element name="telefono" type="xsd:string" />
        <xsd:element name="cm_id_direccion" type="xsd:string" />
        <xsd:element name="direccion" type="xsd:string" />
        <xsd:element name="pais" type="xsd:string" />
        <xsd:element name="ciudad" type="xsd:string" />
        <xsd:element name="codigodane" type="xsd:string" />
        <xsd:element name="idciudad" type="xsd:string" />
        <xsd:element name="correoelectronico" type="xsd:string" />
        <xsd:element name="clientecredito" type="xsd:string" />
        <xsd:element name="tipocliente" type="xsd:string" />
        <xsd:element name="digitoverificacion" type="xsd:string" />
        <xsd:element name="representantes">
          <xsd:complexType>
            <xsd:sequence maxOccurs="unbounded">
              <xsd:element name="representante">
                <xsd:complexType>
                  <xsd:sequence>
                    <xsd:element name="numerodocumento" type="xsd:string" />
                    <xsd:element name="primernombre" type="xsd:string" />
                    <xsd:element name="segundonombre" type="xsd:string" />
                    <xsd:element name="primerapellido" type="xsd:string" />
                    <xsd:element name="segundoapellido" type="xsd:string" />
                    <xsd:element name="regional" type="xsd:string" />
                    <xsd:element name="correoelectronico" type="xsd:string" />
                    <xsd:element name="unidadnegocio" type="xsd:string" />
                  </xsd:sequence>
                </xsd:complexType>
              </xsd:element>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name="respuesta" type="tpRespuesta" />
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="consultartipomercancia" />
  <xsd:element name="consultartipomercanciarespuesta">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element maxOccurs="unbounded" name="tipomercancia" type="tpTipoMercanciaBasico" />
        <xsd:element name="respuesta" type="tpRespuesta" />
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="consultarciudadesorigendestino">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="idciudad" type="xsd:string" />
        <xsd:element name="iddepartamento" type="xsd:string" />
        <xsd:element name="opcion" type="xsd:string" />
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="consultarciudadesorigendestinorespuesta">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="ciudades">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element maxOccurs="unbounded" name="ciudad" type="tpCiudadBasico" />
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name="respuesta" type="tpRespuesta" />
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="consultarpaises" />
  <xsd:element name="consultarpaisesrespuesta">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="paises">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element maxOccurs="unbounded" name="pais" type="tpPaisBasico" />
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name="respuesta" type="tpRespuesta" />
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="consultardepartamentos">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="idpais" type="xsd:string" />
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="consultardepartamentosrespuesta">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="departamentos">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element maxOccurs="unbounded" name="departamento" type="tpDepartamentoBasico" />
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name="respuesta" type="tpRespuesta" />
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="consultarestadoenvio" />
  <xsd:element name="consultarestadoenviorespuesta">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="estados">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element maxOccurs="unbounded" name="estado" type="tpEstadoEnvioBasico" />
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name="respuesta" type="tpRespuesta" />
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="encabezadosistema">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="aplicacion" type="xsd:string" />
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="consultarmaestroliquidador">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="idpaisorigen" type="xsd:string" />
        <xsd:element name="idpaisdestino" type="xsd:string" />
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="consultarmaestroliquidadorrespuesta">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="ciudadesorigen">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element maxOccurs="unbounded" name="ciudad" type="tpCiudadBasico" />
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name="ciudadesdestino">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element maxOccurs="unbounded" name="ciudad" type="tpCiudadBasico" />
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name="tiposenvio">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element maxOccurs="unbounded" name="tipoenvio" type="tpTipoEnvioBasico" />
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name="formaspago">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element maxOccurs="unbounded" name="formapago" type="tpFormaPagoBasico" />
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name="unidadespeso">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element maxOccurs="unbounded" name="unidad" type="tpUnidadPesoBasico" />
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name="unidadesmedida">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element maxOccurs="unbounded" name="unidad" type="tpUnidadMedidaBasico" />
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name="respuesta" type="tpRespuesta" />
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="consultarpaisesliquidador">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element minOccurs="0" name="idpais" type="xsd:string" />
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="consultarpaisesliquidadorrespuesta">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="paises">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element maxOccurs="unbounded" name="pais" type="tpPaisBasico" />
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name="respuesta" type="tpRespuesta" />
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="consultardiasentrega">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="ciudadorigen" type="xsd:string" />
        <xsd:element name="ciudaddestino" type="xsd:string" />
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="consultardiasentregarespuesta">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="diasentrega" type="xsd:string" />
        <xsd:element name="diassemana" type="xsd:string" />
        <xsd:element name="esreexpedicion" type="xsd:string" />
        <xsd:element name="respuesta" type="tpRespuesta" />
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
</xsd:schema>