CustomerService/TCCService/TCCService/Web References/co.com.tcc.clientes.remesas/wsDespachos.wsdl

<?xml version="1.0" encoding="utf-8"?>
<WL5G3N0:definitions xmlns:WL5G3N2="http://www.tcc.com.co/xsd" xmlns:WL5G3N1="http://www.tcc.com.co/xsd/remesa/" xmlns:WL5G3N4="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:WL5G3N3="http://xmlns.oracle.com/OSB_ClientesApi/RemesaApi/wsDespachos" name="wsDespachos" targetNamespace="http://xmlns.oracle.com/OSB_ClientesApi/RemesaApi/wsDespachos" xmlns:WL5G3N0="http://schemas.xmlsoap.org/wsdl/">
  <WL5G3N0:types>
    <xsd:schema xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:reme="http://www.tcc.com.co/xsd" xmlns:tns="http://xmlns.oracle.com/OSB_ClientesApi/RemesaApi/wsDespachos" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:inp1="http://www.tcc.com.co/xsd/remesa/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
      <xsd:import schemaLocation="http://clientes.tcc.com.co:1080/api/clientes/remesasws?SCHEMA%2FRemesaApi%2FSchemas%2FRemesa" namespace="http://www.tcc.com.co/xsd/remesa/" />
      <xsd:import schemaLocation="http://clientes.tcc.com.co:1080/api/clientes/remesasws?SCHEMA%2FRemesaApi%2FWSDLs%2FXMLSchema_-472168131" namespace="http://www.tcc.com.co/xsd" />
    </xsd:schema>
  </WL5G3N0:types>
  <WL5G3N0:message name="requestMessage">
    <WL5G3N0:part name="request" element="WL5G3N1:grabardespacho7" />
  </WL5G3N0:message>
  <WL5G3N0:message name="replyMessage">
    <WL5G3N0:part name="response" element="WL5G3N1:grabardespacho7respuesta" />
  </WL5G3N0:message>
  <WL5G3N0:message name="anulardespachorequestMessage">
    <WL5G3N0:part name="request" element="WL5G3N1:anulardespacho" />
  </WL5G3N0:message>
  <WL5G3N0:message name="anulardespachoresponseMessage">
    <WL5G3N0:part name="response" element="WL5G3N1:anulardespachorespuesta" />
  </WL5G3N0:message>
  <WL5G3N0:message name="consultarinformacionremesarequestMessage">
    <WL5G3N0:part name="request" element="WL5G3N1:consultartrazabilidadremesa" />
  </WL5G3N0:message>
  <WL5G3N0:message name="consultarinformacionremesaresponseMessage">
    <WL5G3N0:part name="response" element="WL5G3N2:consultartrazabilidadremesarespuesta" />
  </WL5G3N0:message>
  <WL5G3N0:portType name="grabardespacho7_ptt">
    <WL5G3N0:operation name="grabardespacho7">
      <WL5G3N0:input message="WL5G3N3:requestMessage" />
      <WL5G3N0:output message="WL5G3N3:replyMessage" />
    </WL5G3N0:operation>
    <WL5G3N0:operation name="anulardespacho">
      <WL5G3N0:input message="WL5G3N3:anulardespachorequestMessage" />
      <WL5G3N0:output message="WL5G3N3:anulardespachoresponseMessage" />
    </WL5G3N0:operation>
    <WL5G3N0:operation name="consultarinformacionremesa">
      <WL5G3N0:input message="WL5G3N3:consultarinformacionremesarequestMessage" />
      <WL5G3N0:output message="WL5G3N3:consultarinformacionremesaresponseMessage" />
    </WL5G3N0:operation>
  </WL5G3N0:portType>
  <WL5G3N0:binding name="wsDespachosSoap" type="WL5G3N3:grabardespacho7_ptt">
    <WL5G3N4:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <WL5G3N0:operation name="grabardespacho7">
      <WL5G3N4:operation soapAction="grabardespachos" style="document" />
      <WL5G3N0:input>
        <WL5G3N4:body use="literal" namespace="http://xmlns.oracle.com/OSB_ClientesApi/RemesaApi/wsDespachos" parts="request" />
      </WL5G3N0:input>
      <WL5G3N0:output>
        <WL5G3N4:body use="literal" namespace="http://xmlns.oracle.com/OSB_ClientesApi/RemesaApi/wsDespachos" parts="response" />
      </WL5G3N0:output>
    </WL5G3N0:operation>
    <WL5G3N0:operation name="anulardespacho">
      <WL5G3N4:operation soapAction="anulardespacho" style="document" />
      <WL5G3N0:input>
        <WL5G3N4:body use="literal" parts="request" />
      </WL5G3N0:input>
      <WL5G3N0:output>
        <WL5G3N4:body use="literal" parts="response" />
      </WL5G3N0:output>
    </WL5G3N0:operation>
    <WL5G3N0:operation name="consultarinformacionremesa">
      <WL5G3N4:operation soapAction="http://xmlns.oracle.com/OSB_ClientesApi/RemesaApi/wsDespachos/consultarinformacionremesa" style="document" />
      <WL5G3N0:input>
        <WL5G3N4:body use="literal" parts="request" />
      </WL5G3N0:input>
      <WL5G3N0:output>
        <WL5G3N4:body use="literal" parts="response" />
      </WL5G3N0:output>
    </WL5G3N0:operation>
  </WL5G3N0:binding>
  <WL5G3N0:service name="wsDespachosSoapQSService">
    <WL5G3N0:documentation>OSB Service</WL5G3N0:documentation>
    <WL5G3N0:port name="wsDespachosSoapQSPort" binding="WL5G3N3:wsDespachosSoap">
      <WL5G3N4:address location="http://clientes.tcc.com.co:1080/api/clientes/remesasws" />
    </WL5G3N0:port>
  </WL5G3N0:service>
</WL5G3N0:definitions>